<apex:page doctype="html-5.0" standardcontroller="Survey__c" extensions="ViewSurveyController" cache="false" sidebar="false" showheader="false" standardStylesheets="false" language="{!langCode}">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    
    <style>
        @font-face{
            font-family: cool_font;
            src: url({!URLFOR($Resource.FontStyle,'Noa/NoaLTStd-BoldTab.otf')});
         }
         @font-face{
            font-family: smallfonts;
            src: url({!URLFOR($Resource.FontStyle,'Noa/NoaLTPro-Light.otf')});
         }
     
        #survey_container{ /*box-shadow: 0 0 14px #CCCCCC; -moz-box-shadow: 0 0 14px #CCCCCC; -webkit-box-shadow: 0 0 14px #CCCCCC;*/font-family:cool_font;font-size:15px;/*height: 100vh;*/} 
        /*.question{color:#0D4F8B;font-family:cool_font;font-size:24;  }*/
       #qList{/*width:22%;margin-left:40%;padding-top:1%*/}//border-color:#1E90FF;border:5px solid;
       #questBlock{background-color:none;}
       #button{/*margin-left:45%;padding-top:1%;padding-bottom:1%;*/font-family:cool_font;}
       #logo{margin: 0 auto; background-color:#F5F5F5;padding-bottom:1%;padding-top:1%;padding-left:10%;}
       .text1{font-size:13px;color:grey;width:120px;display: inline-block;padding-right:25px;font-family:smallfonts;}
       .text2{font-size:13px;color:grey;width:120px;display: inline-block;font-family:smallfonts;}
       #row{padding-top:2%; width:100%;}
       #text{padding-top:2%}
       //.error{text-align:left;}
       tr {text-align:center}
       #thankyou{color:white;padding:3%}
       .message .messageText h4{display:inherit}
       .header{text-align:center;/*margin-top:3%*/}
       /**/
       div#questBlock {
            max-width: 328px;
            width: 100%;
            /*padding: 4px;*/
            margin: 0 auto 8px;
            background-color: #fff;
            -webkit-transition: height 0.5s, width 0.2s;
            transition: height 0.5s, width 0.2s;
        }
       html, body {
            height: 100%;
            padding: 0;
            margin: 0;
            background-image: url(/resource/1456203584000/Logo/Assets/achtergrond-groot-retina.png );
        }
        .question {
            font-family: Lucida Grande, Lucida Sans, Verdana;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            color: #005b82;
            text-align: center;
        }
        .pbBody {
            padding: 10px;
        }
        .hide {
           display:none;
        }
        input[type=radio] + label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            /*padding-left: 25px;*/
            margin-right: 15px;
            font-size: 13px;
        }
        input[type=radio] {
            display: none;
        }
        /*input[type=radio] + label:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: 1px;
            box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
        }*/
        input[type="radio"] + label{
            border: 0;
            height: 37px;
            width: 22px;
            margin: 0;
            border-radius: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid #009cd7;
            box-shadow: 0 2px 1px -2px rgba(0,0,0,0.65);
            line-height: 39px;
            color: #00a1de;
            font-weight: bold;
            white-space: nowrap;
            text-shadow: 0 1px 1px #fff;
            border-color: #c9dde6;
            border-top-color: #dae8ee;
            border-bottom-color: #8dc7e5;
            background: #f9f9f9;
            background: -moz-linear-gradient(top, #f9f9f9 2%, #fbfcfc 36%, #e7f6fb 55%, #e1f4fb 67%, #ecf7fc 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #f9f9f9), color-stop(36%, #fbfcfc), color-stop(55%, #e7f6fb), color-stop(67%, #e1f4fb), color-stop(100%, #ecf7fc));
            background: -webkit-linear-gradient(top, #f9f9f9 2%, #fbfcfc 36%, #e7f6fb 55%, #e1f4fb 67%, #ecf7fc 100%);
            background: -o-linear-gradient(top, #f9f9f9 2%, #fbfcfc 36%, #e7f6fb 55%, #e1f4fb 67%, #ecf7fc 100%);
            background: -ms-linear-gradient(top, #f9f9f9 2%, #fbfcfc 36%, #e7f6fb 55%, #e1f4fb 67%, #ecf7fc 100%);
            background: linear,to bottom,#f9f9f9 2%,#fbfcfc 36%,#e7f6fb 55%,#e1f4fb 67%,#ecf7fc 100%;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ecf7fc',GradientType=0 );
        }
        input[type="radio"] + label:hover, input[type="radio"]:checked + label {
             color: #fff;
            border-color: #217092;
            background: #009fdd;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            box-shadow: inset 0 0 9px rgba(33,112,146,0.4);
            text-shadow: 1px 1px 0 #00506f;
        }
        /*.radio label:before {
            border-radius: 8px;
        }
        input[type=radio]:checked + label:before {
            content: "\2022";
            color: #f3f3f3;
            font-size: 30px;
            text-align: center;
            line-height: 18px;
        }*/
        .legend {
            font-size: 11px;
            color: #b2b2b2;
            line-height: 1;
            margin-top: 10px;
            min-width: 21px;
            font-family: Lucida Sans Unicode, Lucida Grande, Helvetica Neue, Helvetica, verdana, arial, sans-serif;
        }
        .text1 {
           text-align:left;
        }
        .text2{
           text-align:right;
           float: right;
        }
        textarea, input[type="text"] {
            font-family: inherit;
            background-color: #fcfefe;
            border-color: #a6d1e1;
            color: #003145;
            display: block;
            padding: 6px 7px;
            height: 33px;
            line-height: 18px;
            font-size: 13px;
            font-weight: normal;
            margin-top: 16px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            font-family: Verdana;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-box-shadow: inset 1px 1px 2px 0px #ddd;
            -moz-box-shadow: inset 1px 1px 2px 0px #ddd;
            box-shadow: inset 1px 1px 2px 0px #ddd;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }
        textarea {
            resize: none;
            height: inherit;
        }
        .error {
        }
        .error > span > span {
            background-color: #fff;
            width: 316px;
            padding: 10px;
            margin: 8px auto;
            text-align: center;
            position: relative;
            top: -68px;
            width: 285px;
            margin: auto;
            display: block;
            padding: 25px;
        }
        .error > span > span:after {
            background: red;
            width: 25px;
            height: 25px;
            content: "!";
            font-family: verdana;
            color: white;
            border-radius: 100%;
            display: inline-block;
            font-size: 20px;
            position: absolute;
            top: 5px;
            right: 5px;
        }
        .header {
            text-align: center;
            margin-top: 90px;
            margin-bottom: 20px;
        }
        .thankyou {
           color:white;padding-top:20px;padding-top:20px;font-family:smallfonts;font-size:40px;
        }
        input[type="button"] {
            display: block;
            font: verdana, arial;
            width: 294px;
            padding: 10px 20px;
            border-radius: 2px;
            border: 1px solid #009cd7;
            -webkit-transition: color 0.2s, text-shadow 0.2s, border-color 0.2s, border-top-color 0.2s, border-bottom-color 0.2s, background 0.2s;
            transition: color 0.2s, text-shadow 0.2s, border-color 0.2s, border-top-color 0.2s, border-bottom-color 0.2s, background 0.2s;
            color: #969696;
            text-shadow: 0 1px 2px rgba(255,255,255,0.9);
            border-color: #dbdbdb;
            border-top-color: #e7e7e7;
            border-bottom-color: #b4b4b4;
            background: #d9d9d9;
            background: -moz-linear-gradient(top, #ebebeb 2%, #f5f5f5 36%, #e8e8e8 55%, #dfdfdf 64%, #ddd 70%, #ddd 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #ebebeb), color-stop(36%, #f5f5f5), color-stop(55%, #e8e8e8), color-stop(64%, #dfdfdf), color-stop(70%, #ddd), color-stop(100%, #ddd));
            background: -webkit-linear-gradient(top, #ebebeb 2%, #f5f5f5 36%, #e8e8e8 55%, #dfdfdf 64%, #ddd 70%, #ddd 100%);
            background: -o-linear-gradient(top, #ebebeb 2%, #f5f5f5 36%, #e8e8e8 55%, #dfdfdf 64%, #ddd 70%, #ddd 100%);
            background: -ms-linear-gradient(top, #ebebeb 2%, #f5f5f5 36%, #e8e8e8 55%, #dfdfdf 64%, #ddd 70%, #ddd 100%);
            background: linear,to bottom,#ebebeb 2%,#f5f5f5 36%,#e8e8e8 55%,#dfdfdf 64%,#ddd 70%,#ddd 100%;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#dddddd',GradientType=0 );
            margin: auto;
            margin-bottom: 20px;
            
        }
         input[type="button"] + label:hover, input[type="button"]:checked + label {
             color: #fff;
            border-color: #217092;
            background: #009fdd;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            box-shadow: inset 0 0 9px rgba(33,112,146,0.4);
            text-shadow: 1px 1px 0 #00506f;
        }
        #button {
            margin: auto;
            display: table;
            width: 100%;
            text-align:center;
        }
        #survey_container{ 
           margin: 0 auto;
           padding-bottom: 20px;
        }
        span.sucessform {
            color: white;
            display: block;
            text-align: center;
            margin-bottom: 25px;
        }
    
        @media screen and (max-width: 330px) {
           .text1, .text2 {
                text-align: center;
                float: none;
                display: block;
                margin: auto;
                width: 100%;
                margin-top: 7px;
        }
        .pbBody table {
            left: -0.4em;
            position: relative;
        }
        input[type="radio"] + label {
            width: 21px;
        }
    }
    
    </style>
    <script>
        var is_facebookapp_iPad = navigator.userAgent.indexOf('FBAN') > -1;
        function close_window(cmd)
        {   
            var browserName = navigator.appName;
            var browserVer = parseInt(navigator.appVersion);
            //alert(browserName + " : "+browserVer);
            //document.getElementById("flashContent").innerHTML = "<br>&nbsp;<font face='Arial' color='blue' size='2'><b> You have been logged out of the Game. Please Close Your Browser Window.</b></font>";
             if(browserName == "Microsoft Internet Explorer"){
                 var ie7 = (document.all && !window.opera && window.XMLHttpRequest) ? true : false;  
                 if (ie7)
                 {  
                   //This method is required to close a window without any prompt for IE7 & greater versions.
                   window.open('','_parent','');
                   window.close();
                 }
                else
                 {
                   //This method is required to close a window without any prompt for IE6
                   this.focus();
                   self.opener = this;
                   self.close();
                 }
            }else{  
                //For NON-IE Browsers except Firefox which doesnt support Auto Close
                try{
                    this.focus();
                    self.opener = this;
                    self.close();
                }
                catch(e){

                }

                try{
                    window.open('','_self','');
                    window.close();
                }
                catch(e){
                }
        }
        if(is_facebookapp_iPad){
            parent.history.back();
            return false;
        }  
    }
    </script>

    <apex:form id="theForm"   >
        <div id="logo">
           <apex:image url="{!URLFOR($Resource.Logo,'Assets/logo-big.png')}"  />
         </div>
         
        <div id="survey_container">
            <apex:outputPanel id="seeSurvey" rendered="{!thankYouRendered == false}" >
                <h1><apex:outputField value="{!Survey__c.Survey_Header__c}"/></h1>
                <h1><apex:outputField value="{!Survey__c.Name}" rendered="{!Survey__c.Hide_Survey_Name__c == false}" /></h1>
            </apex:outputPanel>
            <apex:pageMessages id="errormsg" escape="true" rendered="{!isError==false}"/>
            <!--<apex:pageBlock rendered="{!thankYouRendered == false}" > -->
            
            <div class="header">
                <div class="error">
                    <apex:outputPanel id="errorPanel" rendered="{!isError}" styleClass="errorPanel">
                        <apex:outputText value="{!$Label.AFKLM_SurveyValidationError}" styleClass="error_text completed" rendered="{!validationError}"></apex:outputText>
                        <apex:outputText value="{!$Label.AFKLM_SurveyRequiredFieldError}" styleClass="error_text fill" rendered="{!requiredError}"></apex:outputText>
                        <!-- apex:image id="theImage" value="/img/msg_icons/error16.png" width="20" height="20" style="vertical-align: text-top;"/> -->
                    </apex:outputPanel>
                </div>
                <!-- <apex:outputLabel value="We can't wait to hear what you think!" style="color:white;padding-top:40px;padding-top:20px;font-family:smallfonts;;font-size:35px;" rendered="{!thankYouRendered == false}"></apex:outputLabel><br/><br/>-->
                <apex:outputLabel value="{!$Label.AFKLM_SurveyHeader}" styleClass="thankyou" rendered="{!thankYouRendered == false }"></apex:outputLabel>
            </div>  
                   
            <div id="qList">
                <apex:repeat value="{!allQuestions}" var="qPreview" id="aQPreview" rendered="{!thankYouRendered == false}" >
                <div id="questBlock" >
                    <apex:pageBlock id="pblock"> 
                        <h1 class="question">
                        <!--  <span class="questionNumber">{!qPreview.orderNumber}</span>-->
                            <apex:outputText value="{!qPreview.question}" />
                            <apex:outputLabel value="*" style="color:red" rendered="{!qPreview.renderSelectRow}"> </apex:outputLabel>
                           <!-- <apex:outputPanel rendered="{!qPreview.required}" styleClass="requiredText">
                                ({!$Label.LABS_SF_Required})
                            </apex:outputPanel>-->
                        </h1>
                        
                        <div id="radio"> 
                            <apex:selectRadio layout="pageDirection" rendered="{!qPreview.renderSelectRadio}" value="{!qPreview.selectedOption}" >
                                <apex:selectOptions value="{!qPreview.singleOptions}"/>
                            </apex:selectRadio>
                         </div>
                         <div id="checkbox">           
                            <apex:selectCheckboxes layout="pageDirection" rendered="{!qPreview.renderSelectCheckboxes}" value="{!qPreview.selectedOptions}" >
                                <apex:selectOptions value="{!qPreview.multiOptions}"/>
                            </apex:selectCheckboxes> 
                        </div>
                        <div id="text"> 
                            <apex:inputTextArea cols="25" rows="10" rendered="{!qPreview.renderFreeText}" value="{!qPreview.choices}"/>  
                        </div>
                        <div id="row">
                            <apex:outputPanel rendered="{!qPreview.renderSelectRow}">
                                <apex:selectRadio value="{!qPreview.selectedOption}">
                                    <apex:selectOptions value="{!qPreview.rowOptions}"/>
                                </apex:selectRadio>
                                <span class="text1 legend">{!$Label.AFKLM_SurveyNotRecommend} </span>
                                <span class="text2 legend">{!$Label.AFKLM_SurveyRecommend} </span> 
                            </apex:outputPanel>
                        </div>            
                    <!-- IN ORDER TO ADD A QUESTION TYPE YOU MUST CHANG THE JAVASCRIPT BELOW AS WELL -->
                    </apex:pageBlock>   
                </div>  <!-- qPreview.id -->
                </apex:repeat>
            </div> <!-- qList -->
            
            <!--</apex:pageBlock>-->
            <apex:outputPanel rendered="{!thankYouRendered == false}">
                <apex:outputPanel rendered="{!isInternal}" >
                    <div class="hide">{!$Label.LABS_SF_Answer_as}:
                        <apex:selectRadio value="{!anonymousAnswer}">
                            <apex:selectOptions value="{!anonymousOrUser}" />
                            <apex:actionSupport event="onchange" rerender="hiddenAnonymousAnswer"/>
                        </apex:selectRadio>
                        <apex:inputHidden value="{!anonymousAnswer}" id="hiddenAnonymousAnswer"/>
                        <BR />
                    </div>
                </apex:outputPanel>
                <div id="button">
                    <apex:commandButton action="{!submitResults}" value="{!$Label.AFKLM_SurveySubmit}" rerender="theForm,seeSurvey" oncomplete="setTimeout(function(){$('.error_text').fadeOut('slow');}, 2000);" style="font-family:cool_font;color:#005b82;cursor:pointer"   />
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!thankYouRendered == true}" >
               <apex:outputText value="{!$Label.LABS_SF_Survey_Submitted_Thank_you}" styleClass="sucessform" escape="false"  />
               <apex:commandButton value="{!$Label.AFKLM_SurveyCloseButtton}"  onclick="return close_window();"  reRender="theForm" style="font-family:cool_font;color:#005b82;cursor:pointer"/>
            </apex:outputPanel>  
        </div>
    </apex:form>

</html>
</apex:page>