<apex:page controller="scs_twtSurveys.TwitterOAuthController" setup="false">

	<apex:form >
	
		<script src="{!URLFOR($Resource.jQueryLibrary)}"></script>
		
		<apex:outputPanel layout="block" rendered="{!ISBLANK(output)}" >
			<style>
				body {
					display:none;
				}
			</style>
			<apex:actionFunction name="initTwitterOAuthController" action="{!returnFromTwitter}" />
			<script type="text/javascript">
			    $(document).ready(function(){
			    	initTwitterOAuthController();
			    });
			</script>
		</apex:outputPanel>

	</apex:form>

	<c:TwitterErrorMessage msgTitle="Error" msg="{!output}" retUrl="{!retUrl}"
		rendered="{!actionResult == 'Error'}" />

</apex:page>